<mat-card>
  <mat-card-header>
    <mat-card-title>Trova tutte le coppie di carte uguali per vincere</mat-card-title>
    <mat-card-subtitle>Attento al tempo limite. Buon divertimento!</mat-card-subtitle>
    <app-countdown #countdown [seconds]="matchTotalTime" (timeExpired)="onMatchEnd()"></app-countdown>
  </mat-card-header>
  <mat-card-content>
    <app-card
      *ngFor="let singleCard of cards; let index = index"
      [singleCard]="singleCard"
      (cardClicked)="onCardClick(index)"
    >
    </app-card>
  </mat-card-content>
</mat-card>
